

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none!important;
}

/* Estilos paginas en general */

#body {
    max-width: 1400px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5  {
    font-family: 'Montserrat', sans-serif;
}


#header {
    background-color: #322FCF;
    width: 100%;
    min-height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    list-style: none;
}


#logo{
    width: 100px;
    height: 70px;
    margin: 0;
    padding: 0;
}

#navbarSup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px; 
}

.menu-hamburguesa {
    display: none; 
    color: white;
}


#navbarSup section input {
    width: 500px;
    height: 40px;
    border-radius: 10px;
}

#usuarios {
    display: flex; 
}

#usuarios li {
    margin: 0 20px;
}

#usuarios li a {
    font-size: 20px;
    color: white;
}

#navbarInf {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbarInf ul li {
    display: inline-block;
    margin: 0 20px;
}

#navbarInf ul li a {
    color: white;
}

a:hover {
    color: rgb(102, 101, 101) !important;
}

#main {
    margin-top: 120px;  
    background-color: #d9d9d9;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px;
}

.titulos {
    margin-top: 160px;
}

#footer {
    display: flex;
    background-color: #322FCF;
    color: white; 
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

#info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info--contacto {
    display: flex;
    align-items: center;
    gap: 20px;
    width: auto;
}

.info--contacto i {
    font-size: 30px;
}

.info--contacto p {
    display: flex;
    flex-direction: column;  
    overflow-wrap: break-word; 
    text-align: left; 
}

.info--contacto p span {
    display: block; 
}

#footer article p {
    margin: 0;
}

.buttonFooter {
    background-color: #d9d9d9;
}

.redes a {
    margin: 30px;
    font-size: 25px;
    color: white;
}

.derechos {
    font-size: 15px;
    text-align: right;
    margin-top: 30px;
    font-family: none;
}

/*Media Queries Pages en general*/

@media (max-width: 768px){

    #header {
        min-height: 100px;
    }

    #main {
        margin-top: 100px !important;
    }

    .favoritos {
        display: none;
    }
    
    #navbarSup section input {
        width: 300px;
        height: 40px;
    }

    hr {
        display: none;
    }

    #navbarInf {
        position: absolute;
        right: 30px;
        top: 25px;
        background-color: #322FCF;
    }

    #navbarInf ul {
        display: none;
        position: absolute; 
        flex-direction: column;
        align-items: center;
        top: 100%;
        background-color: #322FCF;
        transition: 0.2s;
        z-index: 10;
        padding: 10px 0;
        margin-right: 50px;
    }

    .menu-hamburguesa {
        display: block;
        font-size: 25px;
    }

    .menu-hamburguesa:hover + ul {
        display: flex !important;
    }

    #navbarInf ul:hover {
        display: flex !important;
    }

    #main {
        margin-top: 120px;
    }

    #footer {
        flex-direction: column;
        padding: 15px;
    }

    #footer #logo {
        display: none;
    }

    .redes {
    margin: 20px;
    }
}

@media (max-width: 425px){    

    #navbarSup section input {
        display: none;
    }

    #footer {
        flex-direction: column;
        padding: 15px;
    }

    #footer #logo {
        display: none;
    }

    .redes {
    margin: 20px;
    }
}

/* Inicio */

.sectionInicio {
    width: 100%;
    height: 100vh;
}

.sectionRecomendados {
    width: 100%;
}

.sectionRecomendados h2 {
    margin: 15px;
}

.infoIndex {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.mediosdepago , .envios , .garantia {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    text-align: center;
    margin: 5px 10px;
    padding: 10px;
}

.mediosdepago img {
    width: 230px;
    height: 28px;
    margin-bottom: 10px;
}

.envios i, .garantia i {
    font-size: 20px; 
    margin-bottom: 10px; 
}

.separador {
    width: 1px; 
    background-color: rgba(0, 0, 0, 0.5); 
    height: 50px;
    margin: 0 10px;
    align-self: center; 
}

/*Media Queries Inicio*/

@media (max-width: 768px){
    
    .sectionInicio {
        height: 65vh;
    }

    .h1Index {
        margin: 25px 5px 15px 5px;
        font-size: 20px;
    }

    .infoIndex {
        height: 100px;
    }

    .sectionRecomendados h2 {
        font-size: 20px;
        text-align: center;
    }
}

@media (max-width: 425px){
    
    .sectionInicio {
        height: 35vh;
    }

    .h1Index {
        font-size: 15px;
    }

    .infoIndex{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .separador{
        display: none;
    }

    .sectionRecomendados h2 {
        font-size: 15px;
    }

    .sectionRecomendados{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* Equipos y Accesorios */

.contenedor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.tarjetaArticulos {
    width: 300px;
    height: auto;
    border: solid 1px;
    background-color: white;
    text-align: center;
    margin: 20px;
}

.imgTarjetas {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.tarjetaArticulos p {
    font-size: 18px;
}

/*Media Queries Equipos y Accesorios*/

@media (max-width: 768px){

    .h1Equipos {
        margin-top: 0;
    }
    
    .contenedor {
        margin: 0 50px 0 50px;
    }
    
    .tarjetaArticulos {
        height: 420px;
        margin: 15px;
    }
    
    .imgTarjetas {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .tarjetaArticulos p {
        font-size: 18px;
    }
}

/* Acerca de */

.sectionAcercade {
    margin: 10px;
    margin-bottom: 0;
}

.sectionAcercade p {
    margin-bottom: 0;
}

/* Contacto */

.pContacto {
    text-align: center;
}

.fuenteContacto {
    font-size: 15px;
    color: black;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: solid 3px;
    color: #322FCF;
    padding: 20px;
}

.formulario {
    width: 600px;
    height: 600px;
    margin: auto;
    padding: 20px;
}

.tya {
    padding: 10px;
    text-align: center;
}
