/*Estilos en General*/
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

/* Estilos paginas en general */
#body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
}

/* Colores */
#header {
  background-color: #322FCF;
  width: 100%;
  min-height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  list-style: none;
}
#header #logo {
  width: 120px;
  height: 70px;
  margin: 0;
  padding: 0;
}
#header #navbarSup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 10px;
}
#header #navbarSup section input {
  width: 500px;
  height: 40px;
  border-radius: 10px;
}
#header #navbarSup #usuarios {
  display: flex;
}
#header #navbarSup #usuarios li {
  margin: 0 20px;
}
#header #navbarSup #usuarios li a {
  font-size: 20px;
  color: white;
}
#header #navbarSup #usuarios li a:hover {
  color: rgb(102, 101, 101) !important;
}
#header #navbarInf {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header #navbarInf ul li {
  display: inline-block;
  margin: 0 20px;
}
#header #navbarInf ul li a {
  color: white;
}
#header #navbarInf ul li a:hover {
  color: rgb(102, 101, 101) !important;
}
#header #navbarInf .menu-hamburguesa {
  display: none;
  color: white;
}

#main {
  margin-top: 160px;
  width: 100%;
  background-color: #d9d9d9;
  padding: 0;
}
#main h1 {
  text-align: center;
  margin: 20px;
}

#footer {
  display: flex;
  width: 100%;
  background-color: #322FCF;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  padding-bottom: 0;
  flex-wrap: wrap;
}
#footer #info {
  display: flex;
  align-items: center;
  gap: 20px;
}
#footer #info .info--contacto {
  display: flex;
  align-items: center;
  gap: 20px;
  width: auto;
}
#footer #info .info--contacto i {
  font-size: 30px;
}
#footer #info .info--contacto p {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  text-align: left;
}
#footer #info .info--contacto p span {
  display: block;
}
#footer article {
  margin-bottom: 10px;
}
#footer article p {
  margin-bottom: 5px;
}
#footer article .buttonFooter {
  background-color: #d9d9d9;
}
#footer .redes a {
  margin: 30px;
  font-size: 25px;
  color: white;
}
#footer .redes .derechos {
  font-size: 15px;
  text-align: right;
  margin-top: 30px;
  font-family: none;
}

/*Media Queries*/
/*Media Queries Pages en general*/
@media (max-width: 768px), (max-width: 900px) {
  #header {
    min-height: 100px;
  }
  #header #navbarSup section input {
    width: 300px;
    height: 40px;
  }
  #header #navbarSup .favoritos {
    display: none;
  }
  #header hr {
    display: none;
  }
  #header #navbarInf {
    position: absolute;
    right: 30px;
    top: 25px;
    background-color: #322FCF;
  }
  #header #navbarInf ul {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 100%;
    background-color: #322FCF;
    transition: 0.2s;
    z-index: 10;
    padding: 10px 0;
    margin-right: 50px;
  }
  #header #navbarInf ul:hover {
    display: flex !important;
  }
  #header #navbarInf .menu-hamburguesa {
    display: block;
    font-size: 25px;
  }
  #header #navbarInf .menu-hamburguesa:hover + ul {
    display: flex !important;
  }
  #main {
    margin-top: 100px !important;
  }
  #footer {
    flex-direction: column;
    padding: 15px;
  }
  #footer #logo {
    display: none;
  }
  #footer .redes {
    margin: 20px;
  }
}
@media (max-width: 425px), (max-width: 660px) {
  #navbarSup section input {
    display: none;
  }
}
/*Media Queries Inicio*/
@media (max-width: 768px) {
  .h1Index {
    margin: 25px 5px 15px 5px;
    font-size: 20px;
  }
  .infoIndex {
    height: 100px;
  }
  .sectionRecomendados h2 {
    font-size: 20px;
    text-align: center;
  }
  .sectionRecomendados .carousel-inner {
    padding: 0 10px;
  }
  .sectionRecomendados .tarjetaArticulos {
    margin: 10px;
    flex: 1 1 40%;
  }
}
@media (max-width: 660px) {
  .sectionInicio {
    height: 45vh;
  }
  .infoIndex {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .infoIndex .separador {
    display: none;
  }
}
@media (max-width: 425px) {
  .sectionInicio {
    height: 30vh;
  }
  .h1Index {
    font-size: 15px;
  }
  .infoIndex {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .infoIndex .separador {
    display: none;
  }
  .sectionRecomendados h2 {
    font-size: 15px;
  }
  .sectionRecomendados .carousel1 {
    display: none;
  }
  .sectionRecomendados .carouselMobile {
    display: flex !important;
  }
  .sectionRecomendados .carouselMobile .tarjetaArticulos {
    width: auto;
  }
  .sectionRecomendados .carouselMobile .tarjetaArticulos .card-title, .sectionRecomendados .carouselMobile .tarjetaArticulos .card-text {
    text-align: center;
    font-size: 15px;
  }
  .sectionRecomendados .carouselMobile .tarjetaArticulos a {
    font-size: 10px;
    border-radius: 0;
    background-color: white;
    color: #322FCF;
  }
}
/*Media Queries Equipos y Accesorios*/
@media (max-width: 768px) {
  .contenedor {
    margin: 0 50px 0 50px;
  }
  .contenedor .tarjetaArticulos {
    height: 420px;
    width: 100%;
    margin: 15px;
  }
  .contenedor p {
    font-size: 18px;
  }
}
/*Media Queries Acerca de*/
@media (max-width: 768px), (max-width: 900px) {
  #main .sectionAcercade {
    margin-top: 0;
  }
}
@media (max-width: 425px), (max-width: 660px) {
  #main .imgAcercade img {
    width: 300px;
    height: 300px;
  }
}
/*Media Queries Contacto*/
@media (max-width: 425px), (max-width: 660px) {
  #main .formulario {
    width: 400px;
    height: 500px;
  }
}
/*Pages*/
/* Inicio */
.sectionInicio {
  width: 100%;
}

.sectionRecomendados {
  width: 100%;
  padding-bottom: 10px;
}
.sectionRecomendados h2 {
  margin: 15px;
}
.sectionRecomendados .carouselMobile {
  display: none;
}
.sectionRecomendados .tarjetaArticulos {
  text-align: center;
  transition: box-shadow 0.3s ease;
}
.sectionRecomendados .tarjetaArticulos a {
  border-radius: 0;
  background-color: white;
  color: #322FCF;
}
.sectionRecomendados .tarjetaArticulos:hover {
  box-shadow: rgb(102, 101, 101);
  transform: translateY(-5px);
}

.infoIndex {
  display: flex;
  justify-content: space-around;
  background-color: white;
}
.infoIndex .mediosdepago, .infoIndex .envios, .infoIndex .garantia {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  text-align: center;
  margin: 5px 10px;
  padding: 10px;
}
.infoIndex .mediosdepago img {
  width: 230px;
  height: 28px;
  margin-bottom: 10px;
}
.infoIndex .envios i, .infoIndex .garantia i {
  font-size: 20px;
  margin-bottom: 10px;
}
.infoIndex .separador {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 50px;
  margin: 0 10px;
  align-self: center;
}

/* Equipos y Accesorios */
.contenedor {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0;
}
.contenedor .tarjetaArticulos {
  height: auto;
  background-color: white;
  text-align: center;
  margin: 10px 20px;
  transition: box-shadow 0.3s ease;
}
.contenedor .tarjetaArticulos p {
  font-size: 18px;
}
.contenedor .tarjetaArticulos .btn {
  border-radius: 0 !important;
  background-color: white !important;
  color: #322FCF !important;
}
.contenedor .tarjetaArticulos .btn:hover {
  background-color: #322FCF !important;
  color: white !important;
}
.contenedor .tarjetaArticulos:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

/* Contacto */
.pContacto {
  text-align: center;
}

.formulario {
  width: 600px;
  height: 600px;
  margin: auto;
  padding: 20px;
}
.formulario fieldset {
  display: flex;
  flex-direction: column;
  border: solid 2px;
  color: #322FCF;
  padding: 20px;
}
.formulario fieldset .fuenteContacto {
  font-size: 15px;
  color: black;
  margin: 10px 0;
  margin-bottom: 0;
}
.formulario fieldset .tya {
  padding: 10px;
  text-align: center;
}

/* Acerca de */
.sectionAcercade {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 10px;
  margin-top: 160px;
  margin-bottom: 0;
}
.sectionAcercade h2 {
  text-align: center;
}
.sectionAcercade a {
  text-decoration: none;
  color: black;
}

.imgAcercade {
  text-align: center;
  padding-bottom: 10px;
}
.imgAcercade img {
  width: 500px;
  height: 500px;
}

/*# sourceMappingURL=style.css.map */
