/*Media Queries Pages en general*/

@media (max-width: 768px) , (max-width: 900px) {

    #header {
        min-height: 100px;
        
        #navbarSup {
            section { 
                input {
                width: 300px;
                height: 40px;
            }
            }

            .favoritos {
                display: none;
            }
        }

    
        hr {
            display: none;
        }
    
        #navbarInf {
            position: absolute;
            right: 30px;
            top: 25px;
            background-color: $principal;
            
            ul {
                display: none;
                position: absolute; 
                flex-direction: column;
                align-items: center;
                top: 100%;
                background-color: $principal;
                transition: 0.2s;
                z-index: 10;
                padding: 10px 0;
                margin-right: 50px;
                &:hover {
                    display: flex !important;
                }
            }
            .menu-hamburguesa {
                display: block;
                font-size: 25px;
                &:hover + ul {
                display: flex !important;
                }  
            }
        }        
    }

    #main {
        margin-top: 100px !important;
    }

    #footer {
        flex-direction: column;
        padding: 15px;
        
        #logo {
            display: none;
        }

        .redes {
            margin: 20px;
            }
    } 
}

@media (max-width: 425px) , (max-width: 660px) {    

    #navbarSup {
        section { 
            input {
            display: none;
            }
        }
    }
}

@media (max-width: 375px) {
    #header {
        min-height: 80px;
        #navbarSup{
            
            #logo {
                width: 80px;
                height: 50px;
            }
            
            #usuarios {
                li {
                    a {
                        font-size: 20px;
                    }
                }
            }    
        }

        #navbarInf {
            bottom: 35px;
            .menu-hamburguesa{
                font-size: 20px;
            }
        }

    }

    #main {
        margin-top: 80px !important;
    }

    #footer {
        #info {
            .info--contacto {
                i {
                    font-size: 20px;
                }
                p {
                    span{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

/*Media Queries Inicio*/

@media (max-width: 768px){

    .h1Index {
        margin: 25px 5px 15px 5px;
        font-size: 20px;
    }

    .infoIndex {
        height: 100px;
    }

    .sectionRecomendados {
        h2 {
        font-size: 20px;
        text-align: center;
        }
        .carousel-inner {
            padding: 0 10px; 
        }
    
        .tarjetaArticulos {
            margin: 10px; 
            flex: 1 1 40%;
        }
    }
}

@media (max-width: 660px) {
    
    .sectionInicio {
        height: 45vh;
    }
    .infoIndex{
        display: flex;
        flex-direction: column;
        height: 100%;
        
        .separador{
            display: none;
        }

    }
}

@media (max-width: 425px) {

    .sectionInicio {
        height: 30vh;
    }

    .h1Index {
        font-size: 15px;
    }

    .infoIndex{
        display: flex;
        flex-direction: column;
        height: 100%;
        
        .separador{
            display: none;
        }
    }

    .sectionRecomendados {
        h2 {
        font-size: 15px;
        }

        .carousel1{
            display: none;
        }

        .carouselMobile {            
            display: flex!important;
            .tarjetaArticulos{
                width: auto;
                .card-title , .card-text {
                    text-align: center;
                    font-size: 15px;
                }
    
                a {
                    font-size: 10px;
                    border-radius: 0;
                    background-color: $secundario;
                    color: $principal;
                    }
                }
            }
        }
    }

@media (max-width: 375px) {
        .sectionInicio {
            height: 25vh;
        }
    }

/*Media Queries Equipos y Accesorios*/

@media (max-width: 768px){
    
    .contenedor {
        margin: 0 50px 0 50px;
        
        .tarjetaArticulos {
            height: 420px;
            width: 100%;
            margin: 15px;
        }
        
        p {
            font-size: 18px;
        }
    }
}

/*Media Queries Acerca de*/

@media (max-width: 768px) , (max-width: 900px) {
    #main {
        .sectionAcercade {
            margin-top: 0;
        }
    } 
}

@media (max-width: 425px) , (max-width: 660px) {

    #main{
    .imgAcercade { 
            img {
            width: 300px;
            height: 300px;
            }
        }
    }
}

/*Media Queries Contacto*/



@media (max-width: 425px) , (max-width: 660px){
    
    #main {
    .formulario {
        width: 400px;
        height: 500px;
        }
    }
}

@media (max-width: 375px) {
    #main {
        .formulario {
            width: 350px;
            height: 500px;
            }
        }
}